<h1> Parqueadero </h1>
<button routerLink="paginas/listaclientes" >Listado clientes</button>
<button routerLink="paginas/listatarifas" >Listado Tarifas</button>
<button (click)="tarifa()">Nueva Tarifa</button>
<button routerLink="paginas/listacomprobantes" >Listado Comprobantes por pagar</button>
<button (click)="comprobante()">Nueva Comprobante</button>
<button routerLink="paginas/listacomprobantespagados" >Listado Comprobantes pagados</button>
<button routerLink="paginas/listavehiculos" >Listado vehiculos</button>